<!-- <h3>Edit Figure</h3> -->

<form action="/figures/<%=@figure.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> Name: </label>
  <input type="text" id="figure_name" name="figure[name]" value="<%=@figure.name%>"></input><br></br>

  <label><h4>Edit Titles</h4></label>
  <%Title.all.each do |title|%>
    <input type="checkbox" id="<%= title.name %>" name="figure[title_ids][]" value="<%=title.id %>" <%='checked' if @figure.titles.include?(title) %>>
    <label><%=title.name%></label><br>
  <%end%>

  <label><h4>Add New Title:</h4></label>
  <input type="text" id="new_title" name="title[name]">

  <label><h4>Edit Landmarks</h4></label>
  <%#binding.pry%>

  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" id="landmark.name" name="figure[landmark_ids][]" value="<%= landmark.id %>" <%='checked' if @figure.landmarks.include?(landmark) %>>
    <label><%= landmark.name %></label><br>
  <%end%>

  <label><h4>Add New Landmark:</h4></label>
  <label>Name: </label>
  <input type="text" id="new_landmark" name="landmark[name]"><br></br>
  <label>Year: </label>
  <input type="text" id-"new_year_completed" name="landmark[year_completed]"><br></br>
  <%#binding.pry%>
  <input type="submit" value="Edit Figure">
</form>
