<h3>Create New Figure</h3>
<form method="post" action="/figures">
  <label> Name: </label>
  <input type="text" id="figure_name" name="figure[name]"><br></br>

  <label><h4>Select from Existing Titles</h4></label>
  <%Title.all.each do |title|%>
    <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%= title.id %>">
    <label><%=title.name%></label><br>
  <%end%>

  <label><h4>Create New Title:</h4></label>
  <input type="text" id="new_title" name="title[name]">

  <label><h4>Select from Existing Landmarks</h4></label>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%= landmark.id %>">
    <label><%= landmark.name %></label><br>
  <%end%>

  <label><h4>Create New Landmark:</h4></label>
  <label>Name: </label>
  <input type="text" id="new_landmark" name="landmark[name]"><br></br>
  <label>Year: </label>
  <input type="text" id-"new_year_completed" name="landmark[year_completed]"><br></br>
  <input type="submit" value="Create New Figure">
</form>
